
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Final Project NLP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/assets/bootstrap/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/assets/bootstrap/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="/static/assets/bootstrap/css/superfish.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/assets/bootstrap/css/magnific-popup.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="/static/assets/bootstrap/css/cs-select.css">
	<link rel="stylesheet" href="/static/assets/bootstrap/css/cs-skin-border.css">
	
	<link rel="stylesheet" href="/static/assets/bootstrap/css/style.css">


	<!-- Modernizr JS -->
	<script src="/static/assets/bootstrap/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/"><i class="icon-search"></i>Classification</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a href="/">Home</a></li>					
							<li><a href="/apps/classification/">Classification</a></li>
							<li class="active"><a href="/apps/report/">Report</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<!-- end:header-top -->
	
	

		<div id="fh5co-tours" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Report</h3>
						<p>Support Vector Machine</p>
					</div>
				</div>
				<div class="row row-bottom-padded-md">
					<div class="col-md-12 animate-box">
						<!-- <h2 class="heading-title">Support Vector Machine</h2> -->
					</div>
					<div class="col-md-6 animate-box">
						<div class="row">
							<div class="col-md-12">
								<h4>Confusion Metrics</h4>
								<p>{{rep}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<img class="img-responsive" src="/static/assets/bootstrap/images/conf_mat_svm.png" style="width:900px" alt="travel">
						<a href="#" class="flight-book">
							<div class="plane-name">
								<span class="p-flight">Accuracy</span>
							</div>
							<div class="desc">
								<div class="left">						
								</div>
								<div class="right">
									<span class="price">
										{{sco}}
									</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</br>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
				
			<p class="fh5co-social-icons">
					<img src="/static/assets/bootstrap/images/django-logo.png" style=width:90px>
					<img src="/static/assets/bootstrap/images/python.png" style=width:90px>
			</p>
			<p>Natural Language Processing Final Project</p>
		</div>
	</div>

	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="/static/assets/bootstrap/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/assets/bootstrap/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/assets/bootstrap/js/jquery.waypoints.min.js"></script>
	<script src="/static/assets/bootstrap/js/sticky.js"></script>

	<!-- Stellar -->
	<script src="/static/assets/bootstrap/js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="/static/assets/bootstrap/js/hoverIntent.js"></script>
	<script src="/static/assets/bootstrap/js/superfish.js"></script>
	<!-- Magnific Popup -->
	<script src="/static/assets/bootstrap/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/assets/bootstrap/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/static/assets/bootstrap/js/bootstrap-datepicker.min.js"></script>
	<!-- CS Select -->
	<script src="/static/assets/bootstrap/js/classie.js"></script>
	<script src="/static/assets/bootstrap/js/selectFx.js"></script>
	
	<!-- Main JS -->
	<script src="/static/assets/bootstrap/js/main.js"></script>

	</body>
</html>


